<h1 class="text-5xl p-2 mt-2 text-center ">Hey!<br>Welcome to My-Budget-App</h1>
<div class="w-[95%] mx-auto m-6 p-4 bg-gray-100 rounded-lg">
<div class="text-center border border-gray-200 p-16 grid">
    <%= link_to "Login", new_user_session_path, class: "w-[40%] mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"%>
    <p class="p-4">Or</p>
    <%= link_to "Sign Up", new_user_registration_path, class: "w-[40%] mx-auto bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"%>
<div>
</div>