<div id="<%= dom_id transaction %>" class="w-[80%] p-4 border border-gray-200 mx-auto">
  <p>
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>
  <p>
  <strong>Category:</strong>
  <%= transaction.category.name%>
  </p>

</div>
