

<%= render "form", transaction: @transaction %>

<br>

<div>
  <%= link_to "Back to transactions", category_transactions_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-8" %>
</div>
